@use "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sortBtn {
    padding: 8px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    border-radius: 20px;
    background-color: rgb(200, 229, 239);
    padding: 20px;
    margin: 40px;

   &__title {
    margin: 20px;
    text-decoration: underline;
    font-size: 30px;
   }
   
   &__ul {
    width: 100%;
    list-style: none;

    &__toDos {
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    
        margin: 20px;
        padding: 10px;

        @include mixins.desktop {
            margin: 20px 200px;
        }
       }
   } 
}

p {
    display: inline;
    margin-left: 20px;
}

.removeBtn {
    border-radius: 50%;
    border: solid black;
    padding: 8px;
    background-color: white;
    cursor: pointer;

   &:hover {
    background-color: rgba(0, 0, 0, 0.77);
    }
}

.doneText {
    text-decoration: line-through;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 20px;

    @include mixins.desktop {
        padding: 0px 200px;
    }
}

input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 44px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.submitBtn {
    margin-top: 15px;
    padding: 8px;
    cursor: pointer;
}





